 body
{
    padding: 0px;
    margin: 0px;    
}
.top
{
    background: #fff;
    padding-top:30px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    margin: auto;
}
 .logo
{
    margin: 0px;
    padding: 0px;
}
.mr-40
{
    margin-right: 50px;
}
.head-nav
{
    
    margin-left:50px;
    margin-top: 0px;
}
.c-g
{
    color: green;
    letter-spacing: 0.5px;
}
.try
{
    border: 2px solid  #000;
    background: green;
    color:white;
    opacity: 0.8;
}
.try:hover
{
    opacity: 1;
    color: #fff;
}
.google-logo
{
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Google-favicon-2015.png/150px-Google-favicon-2015.png") no-repeat;
    background-position: left 15px center;
    background-size: 20px;
    border: 1px solid #000;
}
.button-text
{
    font-size: 15px;
    font-weight: bold;
}
.or
{
    color:red;
    margin:22px 0px;
}
.or-line
{
    height:1px;
    background-color: #f3f3f3;
    width:42%;
    vertical-align: middle;
    display: inline-block;
}
.or-text
{
    display: inline-block;
    margin:0px 10px;
}
.btn-1
{
    background-color:green;
    color:#fff;
    opacity: 0.7;
}
.btn-1:hover
{
    opacity: 1;    
    color:white;
}
.left-content
{
    height: 100%;
}